# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files (if they contain secrets)
#*.tfvars
#*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log

# Terraform plan files
*.tfplan